.gallery {
  width: 840px;
  margin: 0 auto;
  min-height: 465px;
  padding: 60px 20px 0 20px;
  overflow: hidden;
}

@media (max-width: 860px) {
  .gallery {
    width: 540px;
  }
}

.gallery-items {
  list-style: none;
  padding: 0;
}

.gallery-item {
  width: 260px;
  height: 195px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 360px) {
  .gallery-item {
    font-size: 1.2rem;
  }
}

.gallery-item img {
  width: 260px;
  height: 195px;
  transition: width 0.7s, height 0.7s;
}

.gallery-item.expanded {
  width: 540px;
  height: 410px;
}

.gallery-item.expanded img {
  width: 540px;
  height: 410px;
}

.gallery-item .details {
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 195px;
  overflow: hidden;
  transition: width 0.7s, height 0.7s;
  cursor: pointer;
}

.gallery-item.expanded .details {
  cursor: default;
}

.gallery-item.expanded .description a {
  color: white;
}

.gallery-item .tag {
  position: absolute;
  left: 0;
  bottom: -45px;
  padding: 3px 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  transition: bottom 0.3s;
}

.gallery-item:hover .tag {
  bottom: 0;
}

.gallery-item.expanded .tag {
  bottom: 0;
}

.gallery-item.expanded .details {
  width: 540px;
  height: 410px;
}

.gallery-item .description {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.gallery-item.expanded .description {
  visibility: visible;
  opacity: 1;
  width: 420px;
  transition: opacity 0.3s;
  transition-delay: 0.7s;
}
